@charset "utf-8";

$MAX_CONTENT_WIDTH       : 960px;
$KEY_COLOR               :  #222;

#header
{
        width         : $MAX_CONTENT_WIDTH;
        background    : $KEY_COLOR;
}

#container
{
        width         : $MAX_CONTENT_WIDTH;
}

#container-fluid
{
        width         : $MAX_CONTENT_WIDTH;
}

#footer
{
        width         : $MAX_CONTENT_WIDTH;
}

#sidebar
{
          width         : $MAX_CONTENT_WIDTH;
}

#navbar
{
          width         : $MAX_CONTENT_WIDTH;
}
